body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;


    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    padding: 10px;
}

.parent{
  position: relative; /* relative를 주면 child의 absolute가 parent를 기준으로 적용된다. */
                      /* relative를 주지 않으면 child의 absolute가 window를 기준으로 적용된다. */
}

.child {
    position : absolute;
    display: none;  /* html이나 js를 이용해 parent에 mouseOver 이벤트를 추가해 display : block으로 바꿔준다. */
}

#letter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.b1 {
    background-color: rgb(255, 255, 255);
    filter: blur(3px);
    text-align: center;
}

.menulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

a:link {
    color : black;
  }
  a:visited {
    color : black;
  }
  a:hover {
    color : rgb(255, 0, 0);
  }
  a:active {
    color : black;
  }