body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;


    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    margin: 0;
    padding: 0;

}

.parent{
  position: relative; /* relative를 주면 child의 absolute가 parent를 기준으로 적용된다. */
                      /* relative를 주지 않으면 child의 absolute가 window를 기준으로 적용된다. */
}

.child {
    position : absolute;
    display: none;  /* html이나 js를 이용해 parent에 mouseOver 이벤트를 추가해 display : block으로 바꿔준다. */
}



#letter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.b1 {
    /* background-color: rgb(255, 255, 255); */
    height: 100vh;
    filter: blur(3px);
    text-align: center;
    padding: 10px;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

#menu {
  position: fixed;
  bottom: 40px;
  width: 100%;
}

.menulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

a:link {
    color : rgb(0, 0, 0);
  }
  a:visited {
    color : rgb(0, 0, 0);
  }
  a:hover {
    color : rgb(255, 0, 0);
  }
  a:active {
    color : rgb(0, 0, 0);
  }