@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  unicode-range: U+0030-0039;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  /* font-family: Arial, sans-serif; */
  background: linear-gradient(to bottom, #ffffff00, #ff0202);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  padding: 0;

  font-family: "BookkMyungjo-Bd", "Pretendard-Regular";
  font-size: 16px;

  display: flex;
}


.date-list {
  /* width:10%; */
  padding: 10px;
  overflow-y: auto; /* 콘텐츠 스크롤 활성화 */
  height: 100vh; /* 고정 높이 */
}

.date-list::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
  -webkit-appearance: none;
}

.date {
  cursor: pointer;
  padding: 0px;
  margin: 5px 0;
  text-align: ju;
}
.date:hover {
  color: #ff0202;
}

.date.active {
  color: #ff0202;
}

.content-box {
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;

  overflow-y: auto; /* 콘텐츠 스크롤 활성화 */
  height: 100vh; /* 고정 높이 */

  filter: blur(2.7px);
}

.content-box::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
  -webkit-appearance: none;
}

.content-box p {
  white-space: pre-wrap; /* Preserve line breaks */

}





#menu {
  position: fixed;
  bottom: 40px;
  width: 100%;
}

.menulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(255, 0, 0);
}
a:active {
  color: rgb(0, 0, 0);
}
